{% load static %}
{% block content %}
<style>
    .item_container {
        position: relative;
        padding: 0.5rem;
        -webkit-box-shadow: 0 2px 3px 0 rgba(125,125,125,0.5);
        box-shadow: 0 2px 3px 0 rgba(125,125,125,0.5);
        border: none;
        margin-bottom: 1rem;
        background: #fff;
        border-radius: 4px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow: hidden;
    }
    .item_CardContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        position: relative;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        direction: ltr;
    }
    .item_imageContainer {
        width: 105px;
        height: 105px;
        white-space: nowrap;
        border-radius: 5px;
    }
    .item_image {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 102%;
        border: 1px solid #d8d8d8;
        position: relative;
        border-radius: 5px;
    }
    .item_text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 8;
        -ms-flex: 8;
        flex: 8;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-right: 0.5rem;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        text-align: right;
        padding-top: 0.5rem;
        direction: rtl;
        padding-left: 0.6em;
    }
    .item_text h4 {
        font-weight: 700;
        font-size: 1.5rem;
        direction: rtl;
        color: black;
    }
    .item_text p {
        font-size: 1.1rem;
        direction: rtl;
        margin-top: 0.5rem;
    }
    .item_price {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
</style>
<div class="container-xxl py-5">
    <div class="container">
        <div class="tab-class text-center wow ">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill"
                        href="#tab-1">
                        <div class="ps-3 pe-3">
                            <h5 class="mt-n1 mb-0">منوی اصلی</h5>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                        <div class="ps-2 pe-2">
                            <h5 class="mt-n1 mb-0">نوشیدنی </h5>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane p-0 active">
                    <div class="row g-4">
                        <!-- Menu Start -->
                            <div class="row" class="store-items" id="store-items">
                                {% for food in menu %}
                                <div class="item_container animated slideInRight">
                                    <div class="item_CardContainer">
                                        <div class="item_imageContainer">
                                            <div class="item_image" style='background-image: url("{{ food.image.url }}");'></div>
                                        </div>
                                        <div class="item_text">
                                            <div>
                                                <h4>{{ food.name_farsi }}</h4>
                                                <p>{{ food.description }}</p>
                                                
                                            </div>
                                            <div class="item_price">
                                                <span class="price">{{ food.price }}&nbsp;تومان</span>
                                                <a href="{% url 'cart2:cart_add' food.id %}" class="price">افزودن به سبدخرید</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <h5 class="mb-5">
                                    غذا در منو وجود ندارد.   
                                </h5>
                            {% endfor %}


                        </div>
                        <!-- Menu End -->
                    </div>
                </div>
                <div id="tab-2" class="tab-pane  p-0">
                    <div class="row g-4">

                        <!-- Menu Start -->
                        <div class="row" class="store-items" id="store-items">

                            <!-- single item -->
                            {% for food in menu_drink %}
                                <div class="item_container animated slideInRight">
                                    <div class="item_CardContainer">
                                        <div class="item_imageContainer">
                                            <div class="item_image" style='background-image: url("{{ food.image.url }}");'></div>
                                        </div>
                                        <div class="item_text">
                                            <div>
                                                <h4>{{ food.name_farsi }}</h4>
                                                <p>{{ food.description }}</p>
                                                
                                            </div>
                                            <div class="item_price">
                                                <span class="price">{{ food.price }}&nbsp;تومان</span>
                                                <a href="{% url 'cart2:cart_add' food.id %}" class="price">افزودن به سبدخرید</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item cupcakes" data-item="cupcakes">
                                <div class="card ">
                                    <div class="img-container">
                                        <img src="{{food.image.url}}" class="card-img-top store-img" alt=""
                                            style="height: 400px;">
                                        <span class="store-item-icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-text d-flex justify-content-between text-capitalize">
                                            <h5 id="store-item-name">{{food.name_farsi}}</h5>
                                            <h5 class="store-item-value"> تومان <strong id="store-item-price"
                                                    class="font-weight-bold">{{food.price}}</strong></h5>

                                        </div>
                                    </div>


                                </div>
                            </div> -->
                            {% empty %}
                                <h5 class="mb-5">
                                     نوشیدنی در منو وجود ندارد.   
                                </h5>
                            {% endfor %}
                            <!--end of single store item-->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}